@font-face {
    font-family: "Jua-Regular";
    src: url('Jua-Regular.ttf') format('truetype');
    src: url('Jua-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
