@font-face {
    font-family: "Jua-Regular";
    src: url('Jua-Regular.ttf') format('truetype');
    src: url('Jua-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BusanBada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BusanBada.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CookieRun';
    src: url('CookieRun-Regular.eot');
    src: url('CookieRun-Regular.eot?#iefix') format('embedded-opentype'),
        url('CookieRun-Regular.woff2') format('woff2'),
        url('CookieRun-Regular.woff') format('woff'),
        url('CookieRun-Regular.ttf') format('truetype'),
        url('CookieRun-Regular.svg#CookieRun-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-family: 'Comfortaa';
    src: url('Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
